
.event-line-node { 
	font-weight: 400;
	font-size: 18px;
	color: rgb(43, 43, 43);
}
.event-line-wrap:hover .event-line-node { 
	color: rgb(255, 255, 255);
}
a.event-line-wrap { 
	background-color: rgb(255, 255, 255);
	padding-top: 20px;
	padding-bottom: 20px;
}
a.event-line-wrap:hover { 
	background-color: rgb(43, 43, 43);
}
.countdown-block { 
	font-weight: 600;
	font-size: 21px;
	color: rgb(255, 255, 255);
	letter-spacing: 0px;
}
a.event-line-wrap .event-line-countdown-wrap { 
	background-color: rgb(143, 34, 75);
}
ul.concerts-list { 
	border-top-color: rgb(43, 43, 43);
}
ul.concerts-list li { 
	border-bottom-color: rgb(43, 43, 43);
}
.events-bar { 
	border-top-color: rgb(43, 43, 43);
	background-color: rgb(240, 240, 240);
}
span.events-bar-artists select { 
	border-color: rgb(43, 43, 43);
}
span.events-bar-title, span.events-bar-artists select { 
	font-weight: 400;
	font-size: 15px;
	color: rgb(43, 43, 43);
	letter-spacing: 0px;
}
span.events-bar-artists:after { 
	border-top-color: rgb(43, 43, 43);
	border-bottom-color: rgb(43, 43, 43);
}
